<h1>Team Details</h1>

<p><%= @team.name %></p>
<p><%= @team.region %></p>
<br>

<p>TEAM ROSTER</p>

<br>
<p>temp call</p>

<% @heroes.each do |hero| %>
  <p><%=hero.name%></p>
  <p><%= hero.world%></p>
<% end%>
<br>

<table>
  <tr>
    <th>#</th>
    <th></th>
    <th>Hero Name</th>
    <th></th>
    <th>World</th>
    <th></th>
    <th>Role</th>
  </tr>
<% for hero in @heroes%>
  <tr>
    <td>descending numbers(1..5) </td>
    <td>|</td>
    <td><%= hero.name%> </td>
    <td>|</td>
    <td><%= hero.world%></td>
    <td>|</td>
    <td>what they do</td>
  </tr>
<% end%>
</table>

<br>

<a href="/teams/<%= @team.id %>/edit">Edit</a>

<br>
<br>

<form action="/teams/<%= @team.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
