<h1>Add hero to team</h1>

<form class="" action="/hero_teams" method="post">

  <input type="hidden" name="team_id" value="<%= @team.id %>">


  <label for="set_team">Team:</label>
  <select id="set_team" name="team_id" >
        <option value=<%= @team.id%>><%= @team.name %></option>
    </select>

  <br>

  <label for="set_hero">Select Hero to add to Roster:</label>
  <select id="set_hero" name="hero_id" >
    <% @heroes.each do |hero| %>
        <option value=<%= hero.id%>><%= hero.name %></option>
    <% end %>
    </select>
<br>
<br>
<input type="submit" value="Add Hero to Roster"/>


</form>
